# Global
node_modules
dist
build
.DS_Store
*.log

# Environment
.env
.env.*
! .env.example
firebase-service-account.json

# IDEs
.vscode
.idea

# Frontend specific
frontend/dist

# Backend specific
backend/dist
