name: Deploy Frontend
on:
    push:
        branches: [main]
permissions:
    contents: write
jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 22
            - name: Install and Build
              run: |
                  cd frontend
                  npm install
                  VITE_API_BASE_URL=https://featuremanagerapi.onrender.com/api npm run build
            - name: Deploy
              uses: JamesIves/github-pages-deploy-action@v4
              with:
                  folder: frontend/dist
                  branch: gh-pages
